@import url('https://fonts.googleapis.com/css?family=Pacifico');

#Circle {
  color: #f2f2f2;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comic Sans', cursive;
  margin: auto;
  max-width: 150px;
  max-height: 100px;
}
body {
    background-color: cyan;
    margin: 0px;
}
.topnav {
  display: flex;
  align-content: space-around;
  background-color: #333;
}
.colorBar {
  height: 8px;
  background-color: grey;
}
#pic {
  margin-left: 10px;
  border-radius: 10%;

}
